= grid(@services_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"
  
  //- g.action_column
                                                            

  - g.column name: 'name'.titleize, attribute: 'name' do |service|                                                                                                        
    - link_to service_path(service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'name', url: service_path(service), 'original-title' => 'update service details'.titleize} do      
      - service.name              

  - g.column name: 'login_address'.titleize, attribute: 'login_address' do |service|                                                                                                        
    - link_to service_path(service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'login_address', url: service_path(service), 'original-title' => 'update service details'.titleize} do      
      - service.login_address              

  - g.column name: 'login_name'.titleize, attribute: 'login_name' do |service|                                                                                                        
    - link_to service_path(service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'login_name', url: service_path(service), 'original-title' => 'update service details'.titleize} do      
      - service.login_name              

  - g.column name: 'login_password'.titleize, attribute: 'login_password' do |service|                                                                                                        
    - link_to service_path(service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'login_password', url: service_path(service), 'original-title' => 'update service details'.titleize} do      
      - service.login_password              

  - g.column name: 'api_key_1'.titleize, attribute: 'api_key_1' do |service|                                                                                                        
    - link_to service_path(service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'api_key_1', url: service_path(service), 'original-title' => 'update service details'.titleize} do      
      - service.api_key_1              

  - g.column name: 'api_key_2'.titleize, attribute: 'api_key_2' do |service|                                                                                                        
    - link_to service_path(service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'api_key_2', url: service_path(service), 'original-title' => 'update service details'.titleize} do      
      - service.api_key_2              

  - g.column name: 'service_type'.titleize, attribute: 'service_type' do |service|                                                                                                        
    - link_to service_path(service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'service_type', url: service_path(service), 'original-title' => 'update service details'.titleize} do      
      - service.service_type              

  
  - g.column class: 'col-xs' do |service|  
    - link_to "...", service_path(service), title: "Advanced", data: { container: "body", toggle: "tooltip", placement: "left"}, :class => ''
      
  
