= render 'nav_state'

%header.collections-header
 %nav.pull-right.actions
  = link_to 'New', new_service_path, :class => "btn btn-sm btn-primary ladda-button", :'data-style' => "expand-left"
  
%nav.tabs.nav.nav-tabs    
 %ul
  %li.active
   %a(href="#one" data-toggle="tab") General      
   
.tab-content  
 #one.tab-pane.active= render 'grid'
 
