= render 'nav_state'
    
%header.collections-header
 %h6.pull-left Create Service
 %nav.pull-right.actions
  = link_to 'Back', services_path, :class => "btn btn-sm btn-primary ladda-button", :data => { :style => "expand-left" }
    
%nav.tabs.nav.nav-tabs    
 %ul
  %li.active
   %a(href="#one" data-toggle="tab") General 
   
.tab-content   
 #one.full-width.tab-pane.active
         
  = form_for @service, :html => { class: "operator-form form form-horizontal" } do |f|
   %fieldset
    .form-group.inputs
     .col-lg-12
      .input-group
       %span.input-group-addon
        %i.fui-2-user
       = f.text_field :name, :placeholder=> 'name'.titleize, :class => "form-control"
    .form-group.inputs
     .col-lg-12
      .input-group
       %span.input-group-addon
        %i.fui-2-user
       = f.text_field :login_address, :placeholder=> 'login_address'.titleize, :class => "form-control"
    .form-group.inputs
     .col-lg-12
      .input-group
       %span.input-group-addon
        %i.fui-2-user
       = f.text_field :login_name, :placeholder=> 'login_name'.titleize, :class => "form-control"
    .form-group.inputs
     .col-lg-12
      .input-group
       %span.input-group-addon
        %i.fui-2-user
       = f.text_field :login_password, :placeholder=> 'login_password'.titleize, :class => "form-control"
    .form-group.inputs
     .col-lg-12
      .input-group
       %span.input-group-addon
        %i.fui-2-user
       = f.text_field :api_key_1, :placeholder=> 'api_key_1'.titleize, :class => "form-control"
    .form-group.inputs
     .col-lg-12
      .input-group
       %span.input-group-addon
        %i.fui-2-user
       = f.text_field :api_key_2, :placeholder=> 'api_key_2'.titleize, :class => "form-control"
    .form-group.inputs
     .col-lg-12
      .input-group
       %span.input-group-addon
        %i.fui-2-user
       = f.number_field :service_type, :placeholder=> 'service_type'.titleize, :class => "form-control"
    .form-group
     .col-lg-12        
      = f.submit 'create'.titleize, :class => "btn btn-info pull-right", :remote => false
