= render 'nav_state'

%header.collections-header
 %h5.pull-left= @service.name.titleize
 %nav.pull-right.actions
  .btn-group                    
   
   = link_to "create_service_detail".titleize, new_service_detail_path, :class => "btn btn-sm btn-info"
   = link_to 'Back', services_path, :class => "btn btn-sm btn-primary ladda-button", :data => { :style => "expand-left" }

%nav.tabs.nav-tabs
 %ul
  %li.active
   %a(data-toggle="tab" href="#one") General
   
.tab-content  
 #one.tab-pane.active
  .tab-spacer 
  
  
   %p
    %strong Name:                                   
    = link_to service_path(@service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'name', url: service_path(@service), 'original-title' => 'update carrier details'.titleize} do
     = @service.name
   %p
    %strong Login Address:                                   
    = link_to service_path(@service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'login_address', url: service_path(@service), 'original-title' => 'update carrier details'.titleize} do
     = @service.login_address
   %p
    %strong Login Name:                                   
    = link_to service_path(@service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'login_name', url: service_path(@service), 'original-title' => 'update carrier details'.titleize} do
     = @service.login_name
   %p
    %strong Login Password:                                   
    = link_to service_path(@service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'login_password', url: service_path(@service), 'original-title' => 'update carrier details'.titleize} do
     = @service.login_password
   %p
    %strong Api Key 1:                                   
    = link_to service_path(@service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'api_key_1', url: service_path(@service), 'original-title' => 'update carrier details'.titleize} do
     = @service.api_key_1
   %p
    %strong Api Key 2:                                   
    = link_to service_path(@service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'api_key_2', url: service_path(@service), 'original-title' => 'update carrier details'.titleize} do
     = @service.api_key_2
   %p
    %strong Service Type:                                   
    = link_to service_path(@service), class: 'editable', data: { container: 'body', type: 'text', model: 'service', name: 'service_type', url: service_path(@service), 'original-title' => 'update carrier details'.titleize} do
     = @service.service_type
                                                          

  .btn-group.pull-right 
   = link_to service_path(@service), :method => :delete, :data => {remote: "false", container: "body", toggle: "tooltip", placement: "top"}, :class => 'btn btn-danger' do
    %i.fui-2-trash
