= simple_form_for(@supplier_rate, :html => {:class => "operator-form form form-horizontal"}) do |f|

 - form_field = f.text_field :name, :placeholder=> "name".titleize, :class => "form-control", :autofocus => true  
 = form_field_for(form_field,'fui-2-doc-text')
 
 = form_submit(f)  

