= grid(@supplier_rates_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"

  - g.column name: 'name'.titleize, attribute: 'name' do |supplier_rate|    
    - grid_editable_for(supplier_rate,supplier_rate.name,'name') 
  
  - g.column name: 'rate_details'.titleize do |supplier_rate|
    - supplier_rate.rate_details.count.to_s

  - g.column name: 'suppliers'.titleize do |supplier_rate|
    - supplier_rate.suppliers.count.to_s
    
  - g.column class: 'col-md-1' do |supplier_rate| 
    - grid_button_for('view',supplier_rate,'inverse','fui-2-eye')
      
  
