- unless (@suppliers = @supplier_rate.suppliers).blank?

 %table.table.table-bordered.table-striped.sortable.pull-left
  %thead
   %tr       
    %th Name 
    %th IP Address
    %th Balance
  %tbody            
                          
   - @suppliers.each do |p|              
    %tr
     %td= p.name                 
     %td= p.server_ip 
     %td= p.balance   
