= render 'nav_state'

= show_header(@supplier_rate,[{_link:empty_supplier_rate_path(@supplier_rate), _class:'warning', _title:'empty', _icon:'fui-2-circle-empty', :method => 'post'},
                              {_link:supplier_rate_path(@supplier_rate), _class:'danger', _title:'delete', _icon:'fui-2-trash',_method: :delete}])
 
= tabs(['details','suppliers']) 

= content_for_tabs(['detail_grid','supplier_grid'])

     
      
   
