= form_for resource, as: resource_name, url: update_user_confirmation_path, html: {:method => 'patch', class: "form form-horizontal"} do |f|

 %fieldset
  %legend 
   %h3= (t 'user.confirm_password').titleize   

  .form-group.inputs
   .col-lg-12
    .input-group
     %span.input-group-addon
      %i.fui-2-lock
     = f.password_field :password, :placeholder=> "#{t 'user.password_placeholder'}".capitalize, autofocus: true, autocomplete: 'off', :class => "form-control"
  
      
  .form-group.inputs
   .col-lg-12
    .input-group
     %span.input-group-addon
      %i.fui-2-lock
     = f.password_field :password_confirmation, :placeholder=> "#{t 'user.password_confirmation_placeholder'}".capitalize, autocomplete: 'off', :class => "form-control"
                                                             
  = hidden_field_tag :confirmation_token, @original_token
  
  .form-group
   .col-lg-12
    = f.submit "#{ t 'user.do_subscribe' }".titleize, :class => "btn btn-info pull-right"   

                
