= grid(@directions_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"                                         

  - g.column name: 'name'.titleize, attribute: 'name' do |direction|           
    - grid_editable_for(direction,direction.name,'name')
      
  - g.column name: 'code'.titleize, attribute: 'code' do |direction|                                                                                                        
    - direction.code          
    
  - g.column class: 'col-md-1' do |direction|  
    - grid_button_for('delete',direction,'danger','fui-2-trash', :options => {:method => :delete}) 
      
  
