%table.table-heading.table-striped.table-bordered.table.sortable
 %thead
  %tr
   %th= 'parameter'.titleize
   %th= 'value'.titleize
 %tbody
  %tr
   %td= 'Email'.titleize
   %td= link_to resource.email, '#', class: 'editable',data: { name: 'email', mode: 'inline', container: "body", placement: "top", type: 'text', model: 'user', url: user_path(resource), 'original-title' => 'Update User'}
  %tr
   %td= 'Street Address'.titleize
   %td= link_to @address.street_address, '#', class: 'editable', data: {mode: 'inline', name: 'business_type', container: "body", placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}
  %tr
   %td= 'Building Number'.titleize
   %td= link_to @address.building_number, '#', class: 'editable', data: {mode: 'inline', name: 'building_number', container: "body", placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}
  %tr
   %td= 'City'.titleize
   %td= link_to @address.city, '#', class: 'editable', data: {mode: 'inline', name: 'city', container: "body", placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}
  %tr
   %td= 'ZIP'.titleize
   %td= link_to @address.zip, '#', class: 'editable', data: {mode: 'inline', name: 'zip', container: "body", placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}
  %tr
   %td= 'Country'.titleize
   %td= link_to @address.country, '#', class: 'editable', data: {mode: 'inline', name: 'country', container: "body", placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}

   
