- @billing_detail = resource.company.billing_detail
%table.table-heading.table-striped.table-bordered.table.sortable
 %thead
  %tr
   %th= 'parameter'.titleize
   %th= 'value'.titleize
 %tbody
  %tr
   %td= 'last_4_digits'.titleize
   %td= link_to @billing_detail.last_4_digits, '#', class: 'editable', data: {mode: 'inline', name: 'last_4_digits', container: "body", placement: "right", type: 'text', model: 'billing_detail', url: billing_detail_path(@billing_detail), 'original-title' => 'Update Company'}

