- @company = resource.company
- @address = resource.company.addresses.first

%table.table-heading.table-striped.table-bordered.table.sortable
 %thead
  %tr
   %th= 'parameter'.titleize
   %th= 'value'.titleize
 %tbody
  %tr
   %td= 'name'.titleize
   %td= link_to @company.name.titleize, '#', class: 'editable',data: {mode: 'inline', name: 'name', container: "body", placement: "top", type: 'text', model: 'company', url: company_path(@company), 'original-title' => 'Update Company'}
  %tr
   %td= 'suffix'.titleize
   %td= link_to @company.suffix.titleize, '#', class: 'editable', data: {mode: 'inline', name: 'suffix', container: "body", placement: "top", type: 'text', model: 'company', url: company_path(@company), 'original-title' => 'Update Company'}
  %tr
   %td= 'business_type'.titleize
   %td= link_to @company.business_type.titleize, '#', class: 'editable', data: {mode: 'inline', name: 'business_type', mode: 'inline', container: "body", placement: "right", type: 'text', model: 'company', url: company_path(@company), 'original-title' => 'Update Company'}
  %tr
   %td= 'tax_number'.titleize
   %td= link_to @company.tax_number, '#', class: 'editable', data: {mode: 'inline', name: 'tax_number', mode: 'inline', container: "body", placement: "right", type: 'text', model: 'company', url: company_path(@company), 'original-title' => 'Update Company'}
  %tr
   %td= 'vat_number'.titleize
   %td= link_to @company.vat_number, '#', class: 'editable', data: {mode: 'inline', name: 'vat_number', mode: 'inline', container: "body", placement: "right", type: 'text', model: 'company', url: company_path(@company), 'original-title' => 'Update Company'}
  %tr
   %td= 'phone_number'.titleize
   %td= link_to @address.phone_number, '#', class: 'editable', data: {mode: 'inline', name: 'phone_number', mode: 'inline', container: "body", placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}
  %tr
   %td= 'cell_phone'.titleize
   %td= link_to @address.cell_phone, '#', class: 'editable', data: {mode: 'inline', name: 'cell_phone', mode: 'inline', container: "body", placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}

   
