= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "operator-form form form-horizontal"}) do |f|
 %fieldset
  %legend 
  
  .form-group.inputs
   .col-lg-12       
    .input-group
     %span.input-group-addon
      %i.fui-2-user
     = f.text_field :first_name, :placeholder=> "first_name".titleize, :class => "form-control", :autofocus => true  

  .form-group.inputs
   .col-lg-12       
    .input-group
     %span.input-group-addon
      %i.fui-2-mail
     = f.email_field :email, :placeholder=> "email".titleize, :class => "form-control"
   
  .form-group.inputs
   .col-lg-12       
    .input-group
     %span.input-group-addon
      %i.fui-2-mail     
     = f.input :role_ids, :collection => Role.all, :as => :select, :label_method => lambda {|t| t.name.titleize}, :label => false, wrapper_html: { class: 'form-control' }, :item_wrapper_class => 'inline', :selected => [0]       
     
     
  .form-group
   .col-lg-12        
    = f.submit 'create'.titleize, :class => "btn btn-info pull-right"
