= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "operator-form form form-horizontal" } do |f|
 %fieldset
  %legend 
   %h5 Update Password
   
 - form_field = f.password_field :password, :placeholder=> "(leave blank if you don't want to change it)".titleize, :class => "form-control" 
 = form_field_for(form_field,'fui-2-lock')
 
 - form_field = f.password_field :password_confirmation, :placeholder=> "password confirmation".titleize, :class => "form-control"  
 = form_field_for(form_field,'fui-2-lock') 
 
 = form_submit(f,'update','info')      

  
 %fieldset
  %legend 
   %h5 Cancel My Account
   %small Unhappy? We're sorry to see you go. Click on the red button to close your account.
   
 = cancel_account_link(registration_path(resource_name),'cancel my account')

