= render 'nav_state'

= show_header(resource,[{_link: :back, _class:'primary', _title:'back', _icon:'fui-2-left-open',_method: :delete}])
     
= tabs(['general','company','address','billing']) 

= content_for_tabs(['general','company','address','billing'])

