= simple_form_for(@device, :html => {:class => "operator-form form form-horizontal"}) do |f|

 - form_field = f.text_field :description, :placeholder=> "description".titleize, :class => "form-control", :autofocus => true
 = form_field_for(form_field,'fui-2-doc-text')
 
 - form_field = f.input :device_type, :collection => ["SIP","virtual"], :as => :select, :label_method => lambda {|t| t.titleize}, :label => false, wrapper_html: { class: 'form-control' }, :item_wrapper_class => 'inline', :selected => [0]
 = form_field_for(form_field,'fui-2-doc-text')

 - form_field = f.input :user_id, :collection => LegacyUser.all, :as => :select, :label_method => lambda {|t| t.username.titleize}, :label => false, wrapper_html: { class: 'form-control' }, :item_wrapper_class => 'inline', :selected => [0]
 = form_field_for(form_field,'fui-2-doc-text')
 
 = form_submit(f)  
  
