= grid(@devices_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"
       
  - g.column name: 'user_name'.titleize, attribute: 'username', model: 'LegacyUser', custom_filter: :auto do |device|                                                                                                        
    - link_to device.legacy_user.username, legacy_user_path(device.legacy_user.id) if device.legacy_user
  
  - g.column name: 'name'.titleize, attribute: 'name' do |device|    
    - grid_editable_for(device,device.name,'name') 
      
  - g.column name: 'description'.titleize, attribute: 'description' do |device|
    - grid_editable_for(device,device.description,'description') 
  
  - g.column name: 'host'.titleize, attribute: 'host', custom_filter: :auto do |device|
    - grid_editable_for(device,device.host,'host') 
   
  //- g.column name: 'ipaddr'.titleize, attribute: 'ipaddr' do |device|                                                                                                        
  //  - link_to device_path(device), class: 'editable', data: { mode: 'inline', container: 'body', type: 'text', model: 'device', name: 'ipaddr', url: device_path(device), 'original-title' => 'update device details'.titleize} do      
  //    - device.ipaddr 
  
  //- g.column name: 'extension'.titleize, attribute: 'extension' do |device|                                                                                                        
  //  - device.extension 
  //
  //- g.column name: 'username'.titleize, attribute: 'username' do |device|                                                                                                        
  //  - device.username

  - g.column name: 'device_type'.titleize, attribute: 'device_type', custom_filter: :auto do |device|                                                                                                        
    - device.device_type

  //- g.column name: 'allow'.titleize, attribute: 'allow', custom_filter: :auto do |device|                                                                                                        
  //  - device.allow
  //   
  //- g.column name: 'pin'.titleize, attribute: 'pin' do |device|                                                                                                        
  //  - device.pin  
    
  - g.column class: 'col-md-1' do |device|
    - grid_button_for('delete',device,'danger','fui-2-trash', :options => {:method => :delete})  
   
