= render 'nav_state'

= show_header(@device,[{_link:device_path(@device), _class:'danger', _title:'delete', _icon:'fui-2-trash',_method: :delete}])
 
= simple_tab('details')
  
= simple_tab_content_for('detail_grid') 
 
