= grid(@currencies_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"                                         

  - g.column name: 'name'.titleize, attribute: 'name' do |currency|           
    - currency.name
      
  - g.column name: 'full_name'.titleize, attribute: 'full_name' do |currency|                                                                                                        
    - currency.full_name      

  - g.column name: 'exchange_rate'.titleize, attribute: 'exchange_rate' do |currency|                                                                                                        
    - currency.exchange_rate      
    
  - g.column class: 'col-md-1' do |currency|  
    -  
