= grid(@call_detail_records_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"
  
  - g.column name: 'calldate'.titleize, attribute: 'calldate', filter: false do |call_detail_record|                                                                                                        
    - call_detail_record.calldate              
  
  - g.column name: 'src'.titleize, attribute: 'src' do |call_detail_record|
    - call_detail_record.src   
    
  - g.column name: 'dst'.titleize, attribute: 'dst' do |call_detail_record|
    - call_detail_record.dst 
   
  - g.column name: 'duration'.titleize, attribute: 'duration', filter: false do |call_detail_record|
    - call_detail_record.duration 

  - g.column name: 'billsec'.titleize, attribute: 'billsec', filter: false do |call_detail_record|
    - call_detail_record.billsec 

  - g.column name: 'disposition'.titleize, attribute: 'disposition', custom_filter: :auto do |call_detail_record|
    - call_detail_record.disposition     

  - g.column name: 'provider_price'.titleize, attribute: 'provider_price', filter: false do |call_detail_record|
    - call_detail_record.provider_price 

  - g.column name: 'user_price'.titleize, attribute: 'user_price', filter: false do |call_detail_record|
    - call_detail_record.user_price 
    

  - g.column name: 'hangupcause'.titleize, attribute: 'hangupcause' do |call_detail_record|
    - call_detail_record.hangupcause     
  
  - g.column name: 'originator_ip'.titleize, attribute: 'originator_ip' do |call_detail_record|
    - call_detail_record.originator_ip 

  - g.column name: 'terminator_ip'.titleize, attribute: 'terminator_ip' do |call_detail_record|
    - call_detail_record.terminator_ip 
  
  - g.column class: 'col-md-1' do |call_detail_record|  
    - link_to call_detail_record_path(call_detail_record) do
      %i.fui-2-eye     
