= render 'nav_state'

%header.collections-header
 %nav.pull-right.actions
  = link_to call_detail_records_path, :class => "btn btn-sm btn-default" do
   %i.fui-2-download  
   
%nav.tabs.nav.nav-tabs    
 %ul
  %li.active
   %a(href="#one" data-toggle="tab") General      
   
.tab-content  
 #one.tab-pane.active= render 'grid'
 
