= render 'nav_state'

- content_for :javascript do
 :javascript
  $('input[type="file"]').fileinput('refresh')

%header.collections-header
 %nav.pull-right.actions
  = link_to 'Back', least_cost_routes_path, :class => "btn btn-sm btn-primary ladda-button", :data => { :style => "expand-left" }
  
  
%nav.tabs.nav.nav-tabs 
 %ul
  %li.active
   %a(href="#one" data-toggle="tab") General 
   
.tab-content  
 #one.tab-pane.active  
 
  %div(style='padding:15px')
   %h5= link_to @least_cost_route.name, '#', class: 'editable', data: { name: 'name', container: "body", placement: "right", type: 'text', model: 'least_cost_route', url: least_cost_route_path(@least_cost_route), 'original-title' => 'Update Address'}
   %br
   %p     
    %strong Order:    
    = link_to @least_cost_route.order, '#', class: 'editable', data: { name: 'order', container: "body", mode: 'inline', placement: "right", type: 'text', model: 'least_cost_route', url: least_cost_route_path(@least_cost_route), 'original-title' => 'Update Address'}
    %br   
    %strong Failover:  
    - if @least_cost_route.no_failover
     = "N/A"
    - else
     = link_to Supplier.find(@least_cost_route.failover_provider_id).name, supplier_path(Supplier.find(@least_cost_route.failover_provider_id)) 
    
   //- @providers = LeastCostRouteDetail.where(:lcr_id => @least_cost_route.id)
   - @suppliers = @least_cost_route.suppliers
   %table.table.table-bordered.table-striped.sortable.pull-left
    %thead
     %tr       
      %th Name 
      %th IP Address
      %th Balance
    %tbody            
                            
     - @suppliers.each do |p|
      %tr
       %td= p.name                 
       %td= p.server_ip 
       %td= p.balance
          
 
  
   
  .col-lg-12  
   .btn-group.pull-right        
    = link_to least_cost_route_path(@least_cost_route), method: :delete, title: "Delete Least Cost Route", data: { remote: "true", container: "body", toggle: "tooltip", placement: "left"}, :class => 'btn btn-danger' do
     %i.fui-2-trash     
    
      
