.wrap          
                       
 %p
  %strong #{'street_address'.titleize}:
  = link_to @address.street_address, '#', class: 'editable', data: {mode: 'inline', name: 'business_type', container: "body", placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}
  %br
  %strong Building Number:
  = link_to @address.building_number, '#', class: 'editable', data: {mode: 'inline', name: 'building_number', mode: 'inline', container: "body", placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}
  %br
  %strong City:    
  = link_to @address.city, '#', class: 'editable', data: {mode: 'inline', name: 'city', container: "body", mode: 'inline', placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}
  %br
  %strong ZIP:    
  = link_to @address.zip, '#', class: 'editable', data: {mode: 'inline', name: 'zip', container: "body", mode: 'inline', placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}
  %br
  %strong Country:
  = link_to @address.country, '#', class: 'editable', data: {mode: 'inline', name: 'country', container: "body", mode: 'inline', placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}
  %br
  %strong #{'phone_number'.titleize}:
  = link_to @address.phone_number, '#', class: 'editable', data: {mode: 'inline', name: 'phone_number', mode: 'inline', container: "body", placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}
  
  %br
  %strong #{'cell_phone'.titleize}:
  = link_to @address.cell_phone, '#', class: 'editable', data: {mode: 'inline', name: 'cell_phone', mode: 'inline', container: "body", placement: "right", type: 'text', model: 'address', url: address_path(@address), 'original-title' => 'Update Company'}

