.wrap
 %p
  %strong #{'last_4_digits'.titleize}:
  = link_to @billing_detail.last_4_digits, '#', class: 'editable', data: {mode: 'inline',  name: 'last_4_digits', container: "body", placement: "right", type: 'text', model: 'billing_detail', url: billing_detail_path(@billing_detail), 'original-title' => 'Update Company'}
  
