.wrap          
 
 %p
  %strong #{'company_name'.titleize}:
  = link_to @company.name.titleize, '#', class: 'editable',data: {mode: 'inline', name: 'name', container: "body", placement: "top", type: 'text', model: 'company', url: company_path(@company), 'original-title' => 'Update Company'}
  %br
  %strong #{'company_suffix'.titleize}:
  = link_to @company.suffix.titleize, '#', class: 'editable', data: {mode: 'inline', name: 'suffix', container: "body", placement: "top", type: 'text', model: 'company', url: company_path(@company), 'original-title' => 'Update Company'}
  %br
  %strong #{'business_type'.titleize}:
  = link_to @company.business_type.titleize, '#', class: 'editable', data: {mode: 'inline', name: 'business_type', mode: 'inline', container: "body", placement: "right", type: 'text', model: 'company', url: company_path(@company), 'original-title' => 'Update Company'}
 
  %br
  %strong #{'tax_number'.titleize}: 
  = link_to @company.tax_number, '#', class: 'editable', data: {mode: 'inline', name: 'tax_number', mode: 'inline', container: "body", placement: "right", type: 'text', model: 'company', url: company_path(@company), 'original-title' => 'Update Company'}
 
  %br
  %strong #{'vat_number'.titleize}:
  = link_to @company.vat_number, '#', class: 'editable', data: {mode: 'inline', name: 'vat_number', mode: 'inline', container: "body", placement: "right", type: 'text', model: 'company', url: company_path(@company), 'original-title' => 'Update Company'}
  
