= grid(@users_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"

  - g.column name: 'first_name'.titleize, attribute: 'first_name' do |user| 
    - if user == @current_user
      - link_to user.first_name, edit_user_registration_path   
    - else
      - link_to user_path(user), class: 'editable', data: {mode: 'inline', container: 'body', type: 'text', model: 'user', name: 'first_name', url: user_path(user), 'original-title' => 'update user details'.titleize} do      
        - user.first_name                                          
      
  - g.column name: 'last_name'.titleize, attribute: 'last_name' do |user|
    - if user == @current_user
      - link_to user.last_name, edit_user_registration_path   
    - else  
      - link_to user_path(user), class: 'editable', data: {mode: 'inline', container: 'body', type: 'text', model: 'user', name: 'last_name', url: user_path(user), 'original-title' => 'update user details'.titleize} do      
        - user.last_name      
  
  - g.column name: 'email'.titleize, attribute: 'email' do |user|
    - if user == @current_user
      - link_to user.email, edit_user_registration_path   
    - else  
      - link_to user_path(user), class: 'editable', data: {mode: 'inline', container: 'body', type: 'text', model: 'user', name: 'email', url: user_path(user), 'original-title' => 'update user details'.titleize} do      
        - user.email
      
  - g.column name: 'company_name'.titleize, ordering: false, filter: false, attribute: 'name', model: Company do |user|
    - if user == @current_user
      - link_to user.company.name, edit_user_registration_path   
    - else  
      - if user.company 
        - link_to company_path(user.company), class: 'editable', data: {mode: 'inline', container: 'body', type: 'text', model: 'company', name: 'name', url: company_path(user.company), 'original-title' => 'update address details'.titleize} do
          - user.company.name      
              
  - g.column name: 'actions'.titleize, class: 'col-md-1' do |user| 
    - unless user == @current_user
      - link_to become_user_path(user), method: :post do
        %i.fui-2-home      
  
  - g.column class: 'col-md-1' do |user|
    - unless user == @current_user
      - link_to user_path(user) do
        %i.fui-2-eye      
      
  
