= render 'nav_state'

= show_header(@user,[{_link:reinvite_user_path(@user), _class:'primary', _title:'re_invite', _icon:'fui-2-dot-circled', method: :put},
                     {_link:reset_user_path(@user), _class:'warning', _title:'reset_password', _icon:'fui-2-lock-open', method: :put},
                     {_link:user_path(@user), _class:'danger', _title:'delete', _icon:'fui-2-trash',_method: :delete}])
     
= tabs(['general','company','address','billing','charges']) 

= content_for_tabs(['general','company','address','billing','charges'])
