= devise_error_messages!

= form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: "form form-horizontal" } do |f|

 %fieldset
  %legend 
   %h3 #{resource_name.to_s.humanize}  
      
  .form-group.inputs
   .col-lg-12
    .input-group
     %span.input-group-addon
      %i.fui-2-lock
     = f.password_field :password, :placeholder=> "#{t 'user.password_placeholder'}".capitalize, autofocus: true, autocomplete: 'off', :class => "form-control"

      
  .form-group.inputs
   .col-lg-12
    .input-group
     %span.input-group-addon
      %i.fui-2-lock
     = f.password_field :password_confirmation, :placeholder=> "#{t 'user.password_confirmation_placeholder'}".capitalize, autocomplete: 'off', :class => "form-control"

  //= f.hidden_field :reset_password_token, @reset_password_token
  = f.hidden_field :reset_password_token
  
  .form-group
   .col-lg-12
    = f.submit "#{ t 'user.do_new_password' }".titleize, :class => "btn btn-info pull-right"
  
