= form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form form-horizontal"} do |f|
 %fieldset
  %legend 
   %h3= (t 'user.new_password').titleize

  .form-group.inputs
   .col-lg-12
    .input-group
     %span.input-group-addon
      %i.fui-2-mail
     = f.email_field :email, :placeholder=> "#{t 'user.email_placeholder'}".capitalize, :class => "form-control", :autofocus => true  

  .form-group
   .col-lg-12        
    = link_to (t 'back').titleize, :root, :class => "btn btn-warning pull-left"
    = f.submit  "#{ (t 'user.do_new_password').titleize }", :class => "btn btn-info pull-right"

