%table.table-heading.table-striped.table-bordered.table.sortable
 %thead
  %tr
   %th= 'parameter'.titleize
   %th= 'value'.titleize
 %tbody
  %tr
   %td= 'Phone'.titleize
   %td= link_to @address.phone, '#', class: 'editable', data: { name: 'phone', container: "body", mode: 'inline', placement: "right", type: 'text', model: 'legacy_address', url: legacy_address_path(@address), 'original-title' => 'Update Address'}
  %tr
   %td= 'Mobile Phone'.titleize
   %td= link_to @address.mob_phone, '#', class: 'editable', data: { name: 'mob_phone', container: "body", mode: 'inline', placement: "right", type: 'text', model: 'legacy_address', url: legacy_address_path(@address), 'original-title' => 'Update Address'}
  %tr
   %td= 'Fax'.titleize
   %td= link_to @address.fax, '#', class: 'editable', data: { name: 'fax', container: "body", mode: 'inline', placement: "right", type: 'text', model: 'legacy_address', url: legacy_address_path(@address), 'original-title' => 'Update Address'}
  %tr
   %td= 'Email'.titleize
   %td= @address.email

   
