%table.table.table-bordered.table-striped.sortable
 %thead
  %tr       
   %th Amount       
   %th= 'currency'.titleize 
   %th= 'email'.titleize 
   %th= 'payer_email'.titleize 
   
 %tbody            
                         
  - @payments.each do |payment|
   %tr
    %td= payment.amount                             
    %td= payment.currency
    %td= payment.email
    %td= payment.payer_email
