%table.table-heading.table-striped.table-bordered.table.sortable
 %thead
  %tr
   %th= 'parameter'.titleize
   %th= 'value'.titleize
 %tbody
  %tr
   %td= 'Address'.titleize
   %td= link_to @address.address, '#', class: 'editable', data: {mode: 'inline', name: 'address', container: "body", placement: "right", type: 'text', model: 'legacy_address', url: legacy_address_path(@address), 'original-title' => 'Update Address'}
  %tr
   %td= 'City'.titleize
   %td= link_to @address.city, '#', class: 'editable', data: {mode: 'inline', name: 'city', container: "body", mode: 'inline', placement: "right", type: 'text', model: 'legacy_address', url: legacy_address_path(@address), 'original-title' => 'Update Address'}
  %tr
   %td= 'Post Code'.titleize
   %td= link_to @address.postcode, '#', class: 'editable', data: {mode: 'inline', name: 'postcode', container: "body", mode: 'inline', placement: "right", type: 'text', model: 'legacy_address', url: legacy_address_path(@address), 'original-title' => 'Update Address'}
  %tr
   %td= 'County'.titleize
   %td= link_to @address.county, '#', class: 'editable', data: {mode: 'inline', name: 'county', container: "body", mode: 'inline', placement: "right", type: 'text', model: 'legacy_address', url: legacy_address_path(@address), 'original-title' => 'Update Address'}
  %tr
   %td= 'State'.titleize
   %td= link_to @address.state, '#', class: 'editable', data: {mode: 'inline', name: 'state', container: "body", mode: 'inline', placement: "right", type: 'text', model: 'legacy_address', url: legacy_address_path(@address), 'original-title' => 'Update Address'}
    

