%table.table-heading.table-striped.table-bordered.table.sortable
 %thead
  %tr
   %th= 'parameter'.titleize
   %th= 'value'.titleize
 %tbody
  %tr
   %td= 'Agreemend Date'.titleize
   %td= distance_of_time_in_words(Time.now, @legacy_user.agreement_date)  
  %tr
   %td= 'Username'.titleize
   %td= link_to @legacy_user.username, legacy_user_path(@legacy_user), class: 'editable', data: { container: 'body', mode: 'inline', type: 'text', model: 'legacy_user', name: 'username', url: legacy_user_path(@legacy_user), 'original-title' => 'update legacy_user details'.titleize}
  %tr
   %td= 'Credit Type'.titleize
   %td= @legacy_user.credit_type_to_human
  %tr
   %td= 'Credit'.titleize
   %td= link_to @legacy_user.credit_to_human, legacy_user_path(@legacy_user), class: 'editable', data: { container: 'body', mode: 'inline', type: 'text', model: 'legacy_user', name: 'credit', url: legacy_user_path(@legacy_user), 'original-title' => 'update legacy_user details'.titleize}
  %tr
   %td= 'Accounting Number'.titleize
   %td= link_to @legacy_user.accounting_number.to_s, legacy_user_path(@legacy_user), class: 'editable', data: { container: 'body', mode: 'inline', type: 'text', model: 'legacy_user', name: 'accounting_number', url: legacy_user_path(@legacy_user), 'original-title' => 'update legacy_user details'.titleize}
  %tr
   %td= 'VAT Number'.titleize
   %td= link_to @legacy_user.vat_number.to_s, legacy_user_path(@legacy_user), class: 'editable', data: { container: 'body', mode: 'inline', type: 'text', model: 'legacy_user', name: 'vat_number', url: legacy_user_path(@legacy_user), 'original-title' => 'update legacy_user details'.titleize}
  
