= simple_form_for(@legacy_user, :html => {:class => "operator-form form form-horizontal"}) do |f|

 - form_field = f.text_field :username, :placeholder=> "username".titleize, :class => "form-control", :autofocus => true 
 = form_field_for(form_field,'fui-2-doc-text')
 
 = f.simple_fields_for :legacy_address do |legacy_address|
  - form_field = legacy_address.text_field :email, :placeholder=> "email".titleize, :class => "form-control"
  = form_field_for(form_field,'fui-2-doc-text')

 - form_field = f.input :usertype, :collection => ["user","reseller"], :as => :select, :label_method => lambda {|t| t.titleize}, :label => false, wrapper_html: { class: 'form-control' }, :item_wrapper_class => 'inline', :selected => [0]
 = form_field_for(form_field,'fui-2-doc-text')
 
 = form_submit(f)  

       
