= grid(@legacy_users_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"                                         

  - g.column name: 'username'.titleize, attribute: 'username' do |legacy_user|  
    - grid_editable_for(legacy_user,legacy_user.username,'username')
      
  - g.column name: 'accounting_number'.titleize, attribute: 'accounting_number', custom_filter: :auto do |legacy_user|
    - grid_editable_for(legacy_user,legacy_user.accounting_number,'accounting_number')

  - g.column name: 'user_type'.titleize, attribute: 'usertype', ordering: false, custom_filter: :auto do |legacy_user|                                                                                                        
    - legacy_user.usertype     
      
  - g.column name: 'credit_type'.titleize, attribute: 'postpaid', ordering: false, custom_filter: {'Post-paid' => 1, 'Pre-paid' => 0} do |legacy_user|                                                                                                        
    - legacy_user.credit_type_to_human        

  - g.column name: 'balance'.titleize, attribute: 'balance', filter: false do |legacy_user|
    - grid_editable_for(legacy_user,number_to_currency(legacy_user.balance),'balance')
      
  - g.column name: 'call_limit'.titleize, attribute: 'call_limit', filter: false do |legacy_user|
    - grid_editable_for(legacy_user,legacy_user.call_limit_to_human,'call_limit')  

  - g.column name: 'created_at'.titleize, attribute: 'agreement_date', filter: false do |legacy_user|                                                                                                        
    - distance_of_time_in_words(Time.now, legacy_user.agreement_date)    

  - g.column class: 'col-md-1' do |legacy_user|  
    - grid_button_for('view',legacy_user,'inverse','fui-2-eye')
      
  
