%table.table-heading.table-striped.table-bordered.table.sortable
 %thead
  %tr
   %th= 'parameter'.titleize
   %th= 'value'.titleize
 %tbody
  %tr
   %td= 'Least Cost Route'.titleize
   %td= link_to @least_cost_route.name, least_cost_route_path(@least_cost_route)
  %tr
   %td= 'Customer Rate'.titleize
   %td= link_to @legacy_user.customer_rate.name, customer_rate_path(@legacy_user.customer_rate)
  
