= render 'nav_state'

= show_header(@legacy_user,[{_link:legacy_user_path(@legacy_user), _class:'danger', _title:'delete', _icon:'fui-2-trash',_method: :delete}])
     
= tabs(['general','company','address','services','billing','charges']) 

= content_for_tabs(['detail_grid','company','address','services','billing','charges'])

