= render 'nav_state'

%header.collections-header
 %nav.pull-right.actions
  = link_to settings_path, :class => "btn btn-sm btn-default" do
   %i.fui-2-download
    
%nav.tabs.nav.nav-tabs    
 %ul
  %li.active
   %a(href="#one" data-toggle="tab") General  
   
.tab-content  
 #one.tab-pane.active

  %table.table-heading.table-striped.table-bordered.table
   %thead
    %tr
     %th Key
     %th Value
     
   %tbody
    - @settings.each_pair do |k,v|
     %tr
      %td= k
      %td= link_to v, '#', class: 'editable', data: { mode: 'inline', name: k, container: "body", placement: "bottom", type: 'text', model: 'settings', url: settings_update_path, 'original-title' => 'Update Setting'}
