= render 'nav_state'

%header.collections-header
 %h6.pull-left Create Setting
 %nav.pull-right.actions
  = link_to 'Back', settings_path, :class => "btn btn-sm btn-primary ladda-button", :'data-style' => "expand-left"
    
%nav.tabs.nav.nav-tabs    
 %ul
  %li.active
   %a(href="#one" data-toggle="tab") General 
   
.tab-content   
 #one.tab-pane.active
 
  = form_tag({:action => 'create', :controller => 'settings'}, {:class => "operator-form form form-horizontal"}) do
   %fieldset
    %legend 
    
    .form-group.inputs
     .col-lg-12       
      .input-group
       %span.input-group-addon
        %i.fui-2-user
       = text_field_tag 'key', nil, class: "form-control", :placeholder=> "key".titleize, :autofocus => true  
  
    .form-group.inputs
     .col-lg-12       
      .input-group
       %span.input-group-addon
        %i.fui-2-mail
       = text_field_tag 'value', nil, :class => "form-control", :placeholder=> "value".titleize
    
       
    .form-group
     .col-lg-12        
      = submit_tag 'create'.titleize, :class => "btn btn-info pull-right"
   

         
            
