!!! 5
%html   
 
 %head
  %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  
 %body
  %h1 
   Warning!
   //= @service_name
   expires in 
   //= @days_to_expiry
   
   
