= render 'nav_state'


%nav.tabs.nav.nav-tabs    
 %ul
  %li.active
   %a(href="#one" data-toggle="tab") User    
  %li
   %a(href="#two" data-toggle="tab") Company    
  %li
   %a(href="#three" data-toggle="tab") Address   
  %li
   %a(href="#four" data-toggle="tab") Billing Detail   
   
.tab-content  
 #one.full-width.tab-pane.active

  
  %table.table.table-heading
   %thead
    %tr
     %th Timestamp
     //%th Event ID
     //%th Target
     //%th Item ID
     //%th Action
     //%th User
     %th Changeset
     //%th More info
     
   %tbody
   
    - @user_versions.each do |version|
     %tr
      %td= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S %Z")
      //%td= version.id
      //%td= version.item_type
      //%td= version.item_id
      //%td= version.event
      //%td= version.whodunnit 
      //- if (version.whodunnit && version.whodunnit != 'Guest')
      // = User.find(version.whodunnit).email
      //  - if user
      //   = user.email          
      //  - else
      //   Guest
          
      %td                  
       %pre= version.object_changes
      //%td
      // %pre= version.object         
       
 #two.full-width.tab-pane

  %table.table-heading
   %thead
    %tr
     %th Timestamp
     //%th Event ID
     //%th Target
     //%th Item ID
     //%th Action
     %th User
     %th Changeset
     //%th More info
     
   %tbody
   
    - @company_versions.each do |version|
     %tr
      %td= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S %Z")
      //%td= version.id
      //%td= version.item_type
      //%td= version.item_id
      //%td= version.event
      %td 
       - if (version.whodunnit && version.whodunnit != 'Guest')
        - begin
         = User.find(version.whodunnit).email
        - rescue
         = "Guest"
          
      %td                  
       %pre= version.object_changes
      //%td
      // %pre= version.object 
       
 #three.full-width.tab-pane   
 
  %table.table-heading
   %thead
    %tr
     %th Timestamp
     //%th Event ID
     //%th Target
     //%th Item ID
     //%th Action
     %th User
     %th Changeset
     //%th More info
     
   %tbody
   
    - @address_versions.each do |version|
     %tr
      %td= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S %Z")
      //%td= version.id
      //%td= version.item_type
      //%td= version.item_id
      //%td= version.event
      %td 
       - if (version.whodunnit && version.whodunnit != 'Guest')
        - begin
         = User.find(version.whodunnit).email
        - rescue
         = "Guest"
          
      %td                  
       %pre= version.object_changes
      //%td
      // %pre= version.object  
 
 #four.full-width.tab-pane
 
  %table.table-heading
   %thead
    %tr
     %th Timestamp
     //%th Event ID
     //%th Target
     //%th Item ID
     //%th Action
     %th User
     %th Changeset
     //%th More info
     
   %tbody
   
    - @billing_detail_versions.each do |version|
     %tr
      %td= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S %Z")
      //%td= version.id
      //%td= version.item_type
      //%td= version.item_id
      //%td= version.event
      %td 
       - if (version.whodunnit && version.whodunnit != 'Guest')
        - begin
         = User.find(version.whodunnit).email
        - rescue
         = "Guest"
          
      %td                  
       %pre= version.object_changes
      //%td
      // %pre= version.object         
