%form.form-horizontal
 %fieldset
  %legend 
   %h2= (t 'errors.not_found').titleize
  .form-group
   .col-lg-12
    %p= (t 'errors.not_found_msg')
    = link_to (t 'back').titleize, :root, :class => "pull-left btn btn-info ladda-button", :data => { :style => "expand-left" }

