%form.form-horizontal
 %fieldset
  %legend 
   %h2= (t 'errors.server_err').titleize
  .form-group
   .col-lg-12
    %p= (t 'errors.server_err_msg')
    = link_to (t 'back').titleize, :root, :class => "pull-left btn ladda-button", :data => { :style => "expand-left" }


