= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: "form form-horizontal"} do |f|

 %fieldset
  %legend 
   %h3= (t 'user.sign_in').titleize

  .form-group.inputs
   .col-lg-12
    .input-group
     %span.input-group-addon
      %i.fui-2-mail
     = f.email_field :email, :placeholder=> "#{t 'user.email_placeholder'}".capitalize, :class => "form-control", :autofocus => true  
      
  .form-group.inputs
   .col-lg-12
    .input-group
     %span.input-group-addon
      %i.fui-2-lock
     = f.password_field :password, :placeholder=> "#{t 'user.password_placeholder'}".capitalize, :class => "form-control"

  //.form-group.inputs
  // .col-lg-12
  //  .input-group                       
  //   = f.check_box :remember_me
  //   = f.label "#{t 'user.remember_me'}".capitalize
                               
  .form-group
   .col-lg-12
    = link_to (t 'user.password_reset').titleize, new_password_path(resource_name), :class => "btn btn-warning pull-left"
    = f.submit "#{ t 'user.do_sign_in' }".titleize, :class => "btn btn-info pull-right"
   
    
  
