= grid(@country_rates_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"
            
  - g.column class: 'col-md-f1' do |country_rate|        
    - content_tag :div, :class=>'f16' do
      - content_tag :div, :class=>"#{country_rate.country_code}" + " flag" do  
        &nbsp;
        
  - g.column name: 'country_code'.titleize, attribute: 'country_code', custom_filter: :auto do |country_rate|
    - country_rate.country_code      
    
  - g.column name: 'sub_code'.titleize, attribute: 'sub_code', custom_filter: :auto do |country_rate|
    - country_rate.sub_code  

  - g.column name: 'rate_per_second'.titleize do |country_rate|
    //- link_to country_rate_path(country_rate), class: 'editable', data: {mode: 'inline', container: 'body', type: 'text', model: 'country_rate', name: 'rate_per_second', url: country_rate_path(country_rate), 'original-title' => 'update country_rate'.titleize} do
    - country_rate.rate_per_second.to_s  
    

  
