= grid(@rate_details_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"

  - g.column name: 'name'.titleize, attribute: 'name', model: 'Destination' do |rate|
    - grid_editable_for(rate.destination,rate.destination.name,'name')

  - g.column name: 'prefix'.titleize, attribute: 'prefix', model: 'Destination' do |rate|                                                                                                        
    - rate.destination.prefix

  - g.column name: 'rate'.titleize do |rate|
    - grid_editable_for(rate.rate_details.first,rate.rate_details.first.rate,'rate')
    
  - g.column class: 'col-md-1' do |rate|  
    - grid_button_for('delete',rate,'danger','fui-2-trash', :options => {:method => :delete})  
                                                                                                                                                                            
