= simple_form_for(@customer_rate, :html => {:class => "operator-form form form-horizontal"}) do |f|
 %fieldset
  %legend 
  
  .form-group.inputs
   .col-lg-12       
    .input-group
     %span.input-group-addon
      %i.fui-2-user
     = f.text_field :name, :placeholder=> "name".titleize, :class => "form-control", :autofocus => true  
   

  .form-group
   .col-lg-12        
    = f.submit 'create'.titleize, :class => "btn btn-info pull-right"
