= grid(@customer_rates_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"

  - g.column name: 'name'.titleize, attribute: 'name' do |customer_rate|
    - grid_editable_for(customer_rate,customer_rate.name,'name') 
      
  - g.column name: 'rate_details'.titleize do |customer_rate|
    - customer_rate.rate_details.count.to_s      
    
  - g.column name: 'customers'.titleize do |customer_rate|
    - customer_rate.legacy_users.count.to_s    

  - g.column class: 'col-md-1' do |customer_rate|  
    - grid_button_for('view',customer_rate,'inverse','fui-2-eye') 
  
