- @legacy_users = @customer_rate.legacy_users
- unless @legacy_users.blank?
 %table.table.table-bordered.table-striped.sortable.pull-left
  %thead
   %tr       
    %th Name 
    %th Credit
    %th Balance
  %tbody            
                          
   - @legacy_users.each do |p|              
    %tr
     %td= p.username                 
     %td= p.credit_to_human 
     %td= p.balance   
