= render 'nav_state'

= show_header(@customer_rate,[{_link:empty_customer_rate_path(@customer_rate), _class:'warning', _title:'empty', _icon:'fui-2-circle-empty', :method => 'post'},
                              {_link:customer_rate_path(@customer_rate), _class:'danger', _title:'delete', _icon:'fui-2-trash',_method: :delete}])
 
= tabs(['general','details','customers']) 

= content_for_tabs(['country_rates_grid','detail_grid','legacy_users'])

   
