= grid(@destinations_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"
  
  - g.column name: 'name'.titleize, attribute: 'name', custom_filter: :auto do |destination|
    - grid_editable_for(destination,destination.name,'name')  
  
  - g.column name: 'prefix'.titleize, attribute: 'prefix' do |destination|
    - grid_editable_for(destination,destination.prefix,'prefix')
    
  - g.column name: 'direction_code'.titleize, attribute: 'direction_code', custom_filter: :auto do |destination|
    - destination.direction_code 
   
  - g.column name: 'subcode'.titleize, attribute: 'subcode', custom_filter: :auto do |destination|
    - grid_editable_for(destination,destination.subcode,'subcode')
      
  - g.column class: 'col-md-1' do |destination|  
    - grid_button_for('delete',destination,'danger','fui-2-trash', :options => {:method => :delete})   
  
  
