.pagination ul 
 @include background-image(linear-gradient(to bottom, #eeeeee 0%, white 50%))
 background-position: center bottom
 
.pagination ul li > a, .pagination ul li > span, .pagination .page a
 padding: 2px 8px
 color: #777
 border-width: 1px !important
 
.pagination ul li.active > a, .pagination ul li.active > span, .pagination ul li.active > a:hover, .pagination ul li.active > span:hover, .pagination ul li.active > a:focus, .pagination ul li.active > span:focus
 background-color: white
 color: #777
 text-shadow: none
 border-color: #3498db
 
.pagination ul li.active > a, .pagination ul li.active > span 
 border-width: 1px !important
 
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus
 background-color: #95A5A6
 color: #fff
 text-shadow: none

.pagination ul li > a:hover, .pagination ul li > span:hover, .pagination ul li > a:focus, .pagination ul li > span:focus
 background-color: #3498db
 color: #fff
 text-shadow: none

.pagination
 background: transparent
 margin: 5px auto
 text-align: center
 cursor: default
 .page 
  position: relative
  float: left   
  width: auto
  padding-top: 0
 a, span, em
  display: block
  float: left
  margin-right: 1px
 .disabled
  color: #999999
  border: 1px solid #dddddd
 .current
  font-style: normal
  font-weight: bold
  background: #2e6ab1
  color: white
  border: 1px solid #2e6ab1
 a, .current
  padding: 0.2em 0.5em
 a
  text-decoration: none
  color: #105cb6
  border: 1px solid #9aafe5
  &:hover, &:focus
   color: #000033
   border-color: #000033
 .page_info
  background: #2e6ab1
  color: white
  padding: 0.4em 0.6em
  width: 22em
  margin-bottom: 0.3em
  text-align: center
  b
   color: #000033
   background: #2e6ab1 + 60
   padding: 0.1em 0.25em
 /* self-clearing method:
 &:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden
 * html &
  height: 1%
 *:first-child+html &
  overflow: hidden 
