.wice-grid .reset.clickable, .wice-grid .export-to-csv-button.clickable
 cursor: pointer
 
.wice-grid tr.wg-filter-row input[type="text"]
 //width: 95%
 
.wice-grid .reset.clickable, .wice-grid .desc, .wice-grid .asc, .wice-grid .export-to-csv-button.clickable
 background: none  
 
.wice-grid .reset.clickable:before, .wice-grid .desc:before, .wice-grid .export-to-csv-button.clickable:before, .wice-grid .asc:before
 font-family: "flat-ui-2"
 font-style: normal
 font-weight: normal
 speak: none
 display: inline-block
 text-decoration: inherit
 width: 1em
 margin-right: .2em
 text-align: center
 /* opacity: .8
 /* For safety - reset parent styles, that can break glyph codes
 font-variant: normal
 text-transform: none
 /* fix buttons height, for twitter bootstrap
 line-height: 1em
 /* Animation center compensation - margins should be symmetric
 /* remove if not needed
 margin-left: .2em      
 
.wice-grid .reset.clickable:before 
 content: '\e8b2'   
 
.wice-grid .desc:before
 content: '\e8a6'      
 
.wice-grid .asc:before
 content: '\e8a9'      

.wice-grid .export-to-csv-button.clickable:before
 content: '\e8f7'   
 
.wice-grid .reset.clickable, .wice-grid .export-to-csv-button.clickable
 margin: 0 auto
 
.wice-grid .pagination_status
 float: none
 text-align: center 
