@import 'editable/bootstrap-editable'
@import 'flags/basic'
@import 'flags/flags16'
@import 'flags/flags32'
@import 'x-editable'
@import 'wice-grid'
@import 'flags'
@import 'datagrid'

@import 'pagination'

.datagrid-form
 margin-bottom: 20px
 
#btn-my-account
 font-weight: bold
 .btn-label
  padding: 4px 10px
 i
  font-size: 19px

.collections-header .actions .btn
 margin-left: 5px
