@import 'bourbon'
@import 'bootstrap_and_overrides'  
// -----------------------------------------------------------------------------
@font-face
 font-family: 'Aller-Regular'
 src: url(<%= Rails.root.join('public/assets','aller','aller_rg-webfont.eot') %>)
 src: url(<%= Rails.root.join('public/assets','aller','aller_rg-webfont.eot?#iefix') %>) format("embedded-opentype"), url(<%= Rails.root.join('public/assets','aller','aller_rg-webfont.woff') %>) format("woff"), url(<%= Rails.root.join('public/assets','aller','aller_rg-webfont.ttf') %>) format("truetype"), url(<%= Rails.root.join('public/assets','aller','aller_rg-webfont.svg#Aller-Regular') %>) format("svg")
 font-weight: normal
 font-style: normal 
// -----------------------------------------------------------------------------  
@font-face
 font-family: 'Aller-LightRegular'
 src: url(<%= Rails.root.join('public/assets','aller','aller_lt-webfont.eot') %>)
 src: url(<%= Rails.root.join('public/assets','aller','aller_lt-webfont.eot?#iefix') %>) format("embedded-opentype"), url(<%= Rails.root.join('public/assets','aller','aller_lt-webfont.woff') %>) format("woff"), url(<%= Rails.root.join('public/assets','aller','aller_lt-webfont.ttf') %>) format("truetype"), url(<%= Rails.root.join('public/assets','aller','aller_lt-webfont.svg#Aller-LightRegular') %>) format("svg")
 font-weight: normal   
 font-style: normal 
// -----------------------------------------------------------------------------
@font-face 
 font-family: 'DroidSans-Regular'
 src: url(<%= Rails.root.join('public/assets','droid','DroidSans-webfont.eot') %>)
 src: url(<%= Rails.root.join('public/assets','droid','DroidSans-webfont.eot?#iefix') %>) format('embedded-opentype'), url(<%= Rails.root.join('public/assets','droid','DroidSans-webfont.woff') %>) format('woff'), url(<%= Rails.root.join('public/assets','droid','DroidSans-webfont.ttf') %>) format('truetype'), url(<%= Rails.root.join('public/assets','droid','DroidSans-webfont.svg#DroidSans-Regular') %>) format('svg')
 font-weight: normal
 font-style: normal  
// -----------------------------------------------------------------------------
html                                                                            
 border-top: 0px none     
 padding: 0
//------------------------------------------------------------------------------ 
html, body                                                                      
 line-height: 1.4                                                       
 font-family: 'Aller-LightRegular',sans-serif                                                      
 font-size: 14px                                                   
 background-image: none
 background-color: white                                     
 color: #222                                                           
 width: 100%       
//------------------------------------------------------------------------------ 
html, html a                                                                    
 text-shadow: 1px 1px 1px rgba(0,0,0,0.004)   
//------------------------------------------------------------------------------  
body                                                        
 margin: 0    
 padding: 10px
 padding-left: 40px
 padding-top: 20px
 border: 0px solid rgba(0,0,0,0.1) 
 -webkit-font-smoothing: antialiased                                                                                                       
 text-rendering: optimizeLegibility                                                                 
 -webkit-backface-visibility: hidden                                            
 -moz-font-feature-settings: "liga=1, kern=1"                                   
 -ms-font-feature-settings: "liga" 1, "kern" 1   
// -----------------------------------------------------------------------------
.logo
 background-image: url(<%= Rails.root.join('public/assets','logo.png') %>)
 background-repeat: no-repeat
 width: 250px
 height: 130px
// ----------------------------------------------------------------------------- 
.footer
 font-size: 12px
 text-align: center
// ----------------------------------------------------------------------------- 
.bill-table tr
 th:last-child, td:last-child
  text-align: right
.bill-summary-table
 width: 60%
 td:last-child
  text-align: right
.bill-table, bill-detail-table 
 width: 100%
.bill-detail-table th
 text-align: left
 
.bill-table, .bill-detail-table, .bill-summary-table 
 margin: 20px 0
 // ----------------------------------------------------------------------------
 th, td
  padding: 5px 
 // ---------------------------------------------------------------------------- 
 th
  font-size: 16px
 // ---------------------------------------------------------------------------- 
 td
  font-size: 14px
 // ----------------------------------------------------------------------------
 thead 
  // ---------------------------------------------------------------------------
  tr
   box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3)   
   // ---------------------------------------------------------------------------      
   th
    font-family: DroidSans-Regular    
    padding: 6px 4px            
    background-color: rgba(0,0,0,0.1)
    border:
     bottom: 1px solid rgba(0,0,0,0.5)
     top: 1px solid rgba(0,0,0,0.7)                                                          
 // ----------------------------------------------------------------------------    
 tbody    
  // ---------------------------------------------------------------------------
  > tr
   background-color: white
   border-bottom: 1px solid rgba(0,0,0,0.1)
  // ---------------------------------------------------------------------------  
  > tr:nth-child(2n+1) td 
   background-color: white
  // ---------------------------------------------------------------------------
  > tr td  
   background-color: darken(white,5%) 
 // ----------------------------------------------------------------------------  
 tfoot
  font-family: 'Aller-Regular',sans-serif
  // ----------------------------------------------------------------------------
  > tr td:nth-child(2n+1)
   text-align: right 
