@import 'bourbon'

.editable-container.popover
  width: 290px
 
.editable-container.editable-inline
  width: inherit
  max-width: inherit
 
.editable-buttons .editable-cancel
  margin-left: 2px

.table.grid_select_inline .editableform
  margin-top: 0
 
.editable-buttons  
  margin-left: 4px
  .editable-cancel
    margin-left: 1px
    
.editableform
  margin:
    bottom: 0px
    top: -7px
  

  .form-control
    padding:
      top: 2px
      bottom: 2px
    height: 26px
    @include  background(linear-gradient(#FFFFFF  0%,  #EEEEEE  50%)  center)
    
  .btn
    border: 1px  solid  #ccc
    
  .btn-primary
    //background-color: blue

    text-shadow: 0px  -1px  0px  #6d9f00
    color: #ffffff
    background-color: #8BBD1E
    @include  background-image(linear-gradient(top,  #a9db3c,  #6d9f00))
    border-color: #8BBD1E  #6d9f00  #6d9f00  #8BBD1E
    border-color: rgba(0,  0,  0,  0.25)  rgba(0,  0,  0,  0.35)  rgba(0,  0,  0,  0.35)  rgba(0,  0,  0,  0.25)
    
    &:hover,  &:active,  &.active,  &.disabled,  &[disabled]
      background-color: #6D9F00

    &:hover
      color: #FFFFE6
      text-shadow: 0  -1px  0  #4F8100

    &:focus
      border-color: rgba(0,  0,  0,  0.25)  rgba(0,  0,  0,  0.35)  rgba(0,  0,  0,  0.35)  rgba(0,  0,  0,  0.25)
      box-shadow: 0  2px  4px  rgba(0,  0,  0,  0.15)  inset,  0  1px  2px  rgba(0,  0,  0,  0.05)
      color: #EFFF82

    &.active,  &:active  
      background-image: none
      box-shadow: 0  2px  4px  rgba(0,  0,  0,  0.15)  inset,  0  1px  2px  rgba(0,  0,  0,  0.05)
      color: #EFFF82
    
  .btn-default
    text-shadow: 0px  1px  0px  #ffffff
    color: #a2a2a2
    background-color: #F2F2F2
    @include  background-image(linear-gradient(top,  #ffffff,  #d4d4d4))
    border-color: #F2F2F2  #d4d4d4  #d4d4d4  #F2F2F2
    border-color: rgba(0,  0,  0,  0.25)  rgba(0,  0,  0,  0.35)  rgba(0,  0,  0,  0.35)  rgba(0,  0,  0,  0.25)

    &:hover,  &:active,  &.active,  &.disabled,  &[disabled]  
      background-color: #D4D4D4

    &:hover  
      color: #8E8E8E
      text-shadow: 0  1px  0  #FFFFFF

    &:focus  
      border-color: rgba(0,  0,  0,  0.25)  rgba(0,  0,  0,  0.35)  rgba(0,  0,  0,  0.35)  rgba(0,  0,  0,  0.25)
      box-shadow: 0  2px  4px  rgba(0,  0,  0,  0.15)  inset,  0  1px  2px  rgba(0,  0,  0,  0.05)
      color: #525252

    &.active,  &:active  
      background-image: none
      box-shadow: 0  2px  4px  rgba(0,  0,  0,  0.15)  inset,  0  1px  2px  rgba(0,  0,  0,  0.05)
      color: #525252
    
  input[type="text"],  input[type="password"],  textarea,  input[type="email"],  .connection-strings  .input
    box-shadow: none
    border: 1px  solid  #AAAAAA  
    
  input[type="text"]:focus,  input[type="password"]:focus,  textarea:focus,  input[type="email"]:focus,  .connection-strings  .input:focus
    box-shadow: none
    
  .btn-sm
    padding: 3px  6px
