%h3
 = t 'user.confirm.title'
 = @resource.first_name.titleize 

= t 'user.confirm.message_html'

%p
 = link_to "#{ t('user.confirm.do_confirm').titleize }", confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
