%h3
 = t 'user.unlock.title' 
 = @resource.first_name.titleize

= t 'user.reset.message_html'

%p
 = link_to "#{ t('user.reset.do_reset').titleize }", edit_password_url(@resource, :reset_password_token => @token)
 
