%h3
 = t 'user.unlock.title' 
 = @resource.first_name.titleize 

= t 'user.unlock.message_html' 

%p
 = link_to "#{ t('user.unlock.do_unlock').titleize }" , unlock_url(@resource, :unlock_token => @resource.unlock_token)
