= grid(@service_details_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"
  
  //- g.action_column
                                                            

  - g.column name: 'name', attribute: 'name' do |service_detail|                                                                                                        
    - link_to service_detail_path(service_detail), class: 'editable', data: { container: 'body', type: 'text', model: 'service_detail', name: 'name', url: service_detail_path(service_detail), 'original-title' => 'update service details'.titleize} do      
      - service_detail.name              

  - g.column name: 'expires At', attribute: 'expires_at' do |service_detail|                                                                                                        
    - link_to service_detail_path(service_detail), class: 'editable', data: { container: 'body', type: 'text', model: 'service_detail', name: 'expires_at', url: service_detail_path(service_detail), 'original-title' => 'update service details'.titleize} do      
      - service_detail.expires_at              

  - g.column name: 'description', attribute: 'description' do |service_detail|                                                                                                        
    - link_to service_detail_path(service_detail), class: 'editable', data: { container: 'body', type: 'text', model: 'service_detail', name: 'description', url: service_detail_path(service_detail), 'original-title' => 'update service details'.titleize} do      
      - service_detail.description              

  - g.column name: 'additional Info', attribute: 'additional_info' do |service_detail|                                                                                                        
    - link_to service_detail_path(service_detail), class: 'editable', data: { container: 'body', type: 'text', model: 'service_detail', name: 'additional_info', url: service_detail_path(service_detail), 'original-title' => 'update service details'.titleize} do      
      - service_detail.additional_info              

  - g.column name: 'service Id', attribute: 'service_id' do |service_detail|                                                                                                        
    - link_to service_detail_path(service_detail), class: 'editable', data: { container: 'body', type: 'text', model: 'service_detail', name: 'service_id', url: service_detail_path(service_detail), 'original-title' => 'update service details'.titleize} do      
      - service_detail.service_id              

  
  - g.column class: 'col-xs' do |service_detail|  
    - link_to "...", service_detail_path(service_detail), title: "Advanced", data: { container: "body", toggle: "tooltip", placement: "left"}, :class => ''
      
  
