= render 'nav_state'

%header.collections-header
 %nav.pull-right.actions
  = link_to 'New', new_service_detail_path, :class => "btn btn-sm btn-primary ladda-button", :'data-style' => "expand-left"
  
%nav.tabs.nav.nav-tabs    
 %ul
  %li.active
   %a(href="#one" data-toggle="tab") General  
  %li
   %a(href="#two" data-toggle="tab") Versions      
   
.tab-content  
 #one.full-width.tab-pane.active= render 'grid'
 
 #two.full-width.tab-pane

  %table.table-heading
   %thead
    %tr
     %th Timestamp
     %th User
     %th Changeset
     
   %tbody
   
    - @service_detail_versions.each do |version|
     %tr
      %td= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S %Z")
      %td 
       - if (version.whodunnit && version.whodunnit != 'Guest')
        - begin
         = User.find(version.whodunnit).email
        - rescue
         = "Console"
      %td                  
       %pre= version.object_changes
