= render 'nav_state'
    
%header.collections-header
 %h6.pull-left Create Service Detail
 %nav.pull-right.actions
  = link_to 'Back', service_details_path, :class => "btn btn-sm btn-primary ladda-button", :data => { :style => "expand-left" }
    
%nav.tabs.nav.nav-tabs    
 %ul
  %li.active
   %a(href="#one" data-toggle="tab") General 
   
.tab-content   
 #one.full-width.tab-pane.active
         
  = form_for @service_detail, :html => { class: "operator-form form form-horizontal" } do |f|
   %fieldset
       .form-group.inputs
     .col-lg-12
      .input-group
       %span.input-group-addon
        %i.fui-2-user
       = f.text_field :name, :placeholder=> Name, :class => "form-control"
       .form-group.inputs
     .col-lg-12
      .input-group
       %span.input-group-addon
        %i.fui-2-user
       = f.date_select :expires_at, :placeholder=> Expires At, :class => "form-control"
       .form-group.inputs
     .col-lg-12
      .input-group
       %span.input-group-addon
        %i.fui-2-user
       = f.text_area :description, :placeholder=> Description, :class => "form-control"
       .form-group.inputs
     .col-lg-12
      .input-group
       %span.input-group-addon
        %i.fui-2-user
       = f.text_area :additional_info, :placeholder=> Additional Info, :class => "form-control"
       .form-group.inputs
     .col-lg-12
      .input-group
       %span.input-group-addon
        %i.fui-2-user
       = f.number_field :service_id, :placeholder=> Service, :class => "form-control"
       .form-group
     .col-lg-12        
      = f.submit 'create'.titleize, :class => "btn btn-info pull-right", :remote => false
