= render 'nav_state'

%header.collections-header
 %h5.pull-left= @service_detail.name.titleize
 %nav.pull-right.actions
  .btn-group                    
   
   = link_to "new service_details".titleize, new_service_detail_path, :class => "btn btn-sm btn-info"
   = link_to 'Back', service_details_path, :class => "btn btn-sm btn-primary ladda-button", :data => { :style => "expand-left" }

%nav.tabs.nav-tabs
 %ul
  %li.active
   %a(data-toggle="tab" href="#one") General
   
.tab-content  
 #one.tab-pane.active
  .tab-spacer 
  
  
     %p
    %strong Name:                                   
    = link_to service_detail_path(@service_detail), class: 'editable', data: { container: 'body', type: 'text', model: 'service_detail', name: ''name', url: service_detail_path(@service_detail), 'original-title' => 'update carrier details'.titleize} do
     = @service_detail.name
     %p
    %strong Expires At:                                   
    = link_to service_detail_path(@service_detail), class: 'editable', data: { container: 'body', type: 'text', model: 'service_detail', name: ''expires_at', url: service_detail_path(@service_detail), 'original-title' => 'update carrier details'.titleize} do
     = @service_detail.expires_at
     %p
    %strong Description:                                   
    = link_to service_detail_path(@service_detail), class: 'editable', data: { container: 'body', type: 'text', model: 'service_detail', name: ''description', url: service_detail_path(@service_detail), 'original-title' => 'update carrier details'.titleize} do
     = @service_detail.description
     %p
    %strong Additional Info:                                   
    = link_to service_detail_path(@service_detail), class: 'editable', data: { container: 'body', type: 'text', model: 'service_detail', name: ''additional_info', url: service_detail_path(@service_detail), 'original-title' => 'update carrier details'.titleize} do
     = @service_detail.additional_info
     %p
    %strong Service:                                   
    = link_to service_detail_path(@service_detail), class: 'editable', data: { container: 'body', type: 'text', model: 'service_detail', name: ''service_id', url: service_detail_path(@service_detail), 'original-title' => 'update carrier details'.titleize} do
     = @service_detail.service_id
                                                          

  .btn-group.pull-right 
   = link_to service_detail, :method => :delete, :data => {remote: "true", container: "body", toggle: "tooltip", placement: "top", confirm: 'Are you sure?' }, :class => 'btn btn-warning' do
    %i.fui-2-trash
