- flash.each do |type, message|      
 - if message.is_a?(String)

  %div{:id => "flash_#{type}", :class => "alert #{bootstrap_class_for(type)} alert-dismissable"}
   %button(type="button" class="close" data-dismiss="alert" aria-hidden="true") &times;
   = message.html_safe    
    
= devise_flash_messages!
 
  

