%footer.footer
  .pull-right                            
    &copy; #{ Date.today.year }
    %a(href="http://voxbox.io") #{ Figaro.env.copyrighted_by.titleize }                                                   
    
  .pull-left           
    - if I18n.locale == :it
      = 'IT /'
      %a{href: "#{request.url.gsub(/\?lang=[a-z]{2}/,'')}?lang=en", title: 'Switch to English', lang: 'en'}
        EN
    
    - else
      %a{href: "#{request.url.gsub(/\?lang=[a-z]{2}/,'')}?lang=it", title: 'Passa all\'Italiano', lang: 'it'}
        IT
      = '/ EN'                                                                                                                    
