%nav.primary-nav{:role => "navigation"}
 %ul    
  %li.major
   = link_to suppliers_path, id: "telephony", class:"", title:"Telephony", remote:false, :'data-placement'=>'right', :'data-toggle'=>'tooltip' do  
    %span.fui-2-phone
    %span.screen-reader-text Telephony
    
  %li.major
   = link_to customer_rates_path, id: "services", class:"", title:"Services".titleize, remote:false, :'data-placement'=>'right', :'data-toggle'=>'tooltip' do  
    %span.fui-2-puzzle
    %span.screen-reader-text Services
    
  %li.major
   = link_to bills_path, id: "billing", class:"", title:"Billing", remote:false, :'data-placement'=>'right', :'data-toggle'=>'tooltip' do  
    %span.fui-2-chart-pie
    %span.screen-reader-text Billing    
    
  %li.major
   = link_to call_detail_records_path, id: "reports", class:"", title:"Reports", remote:false, :'data-placement'=>'right', :'data-toggle'=>'tooltip' do  
    %span.fui-2-chart-pie
    %span.screen-reader-text Reports
    
  - if current_user.has_role? :admin
   %li.major
    = link_to users_path, id: "operator", class:"", title:"Operator", :'data-placement'=>"right", :'data-toggle'=>"tooltip" do  
     %span.fui-2-wrench
     %span.screen-reader-text Operator   
    
%nav.alt-nav{:role => "navigation"}
 %ul.secondary-nav    
  %li  
   = link_to destroy_user_session_path, :method=>'delete', :'data-placement'=>"left", :'data-toggle'=>"tooltip", :'data-original-title'=>"Logout" do
    %span.fui-2-lock-open-alt  
    %span.screen-reader-text Logout     
