- content_for :javascript do 
 :javascript
  $('.primary-nav .here').removeClass("here"); $('.primary-nav a##{controller.controller_section}').addClass("here"); 
  $('.sub-nav .here').removeClass('here'); $('.sub-nav a##{controller.controller_name}').addClass("here"); 
