%nav.sub-nav{:role => "sidebar"}
 %ul    
 
  - if controller.controller_section.match(/telephony/)
  
   %li
    = link_to suppliers_path, :id=>'suppliers' do
     %span.fui-2-flow-cross
     = 'suppliers'.titleize   
     
   %li
    = link_to devices_path, :id=>'devices' do
     %span.fui-2-plug
     = 'devices'.titleize       
     
   %li
    = link_to supplier_rates_path, :id=>'supplier_rates' do
     %span.fui-2-chart-alt
     = 'supplier_rates'.titleize         
     
   %li
    = link_to least_cost_routes_path, :id=>'least_cost_routes' do
     %span.fui-2-gauge
     = 'routes'.titleize  
     
   %li
    = link_to locations_path, :id=>'locations' do
     %span.fui-2-flag-empty
     = 'locations'.titleize     
     
      
  - if controller.controller_section.match(/reports/) 
  
   %li
    = link_to call_detail_records_path, :id=>'call_detail_records' do
     %span.fui-2-th-list
     = 'call_details'.titleize          
      
  - if controller.controller_section.match(/services/) 
  
   %li
    = link_to customer_rates_path, :id=>'customer_rates' do
     %span.fui-2-briefcase
     = 'customer_rates'.titleize     
     
   %li
    = link_to directions_path, :id=>'directions' do
     %span.fui-2-globe
     = 'zones'.titleize       
     
   %li
    = link_to destinations_path, :id=>'destinations' do
     %span.fui-2-direction-1
     = 'codes'.titleize    
     
  - if controller.controller_section.match(/billing/) 
  
   %li
    = link_to bills_path, :id=>'bills' do
     %span.fui-2-briefcase
     = 'bills'.titleize       
     
   %li
    = link_to bill_items_path, :id=>'bill_items' do
     %span.fui-2-briefcase
     = 'bill_items'.titleize 

   %li
    = link_to bill_codes_path, :id=>'bill_codes' do
     %span.fui-2-briefcase
     = 'bill_codes'.titleize 

   %li
    = link_to currencies_path, :id=>'currencies' do
     %span.fui-2-briefcase
     = 'currencies'.titleize      

  - if current_user.has_role? :admin  
   - if controller.controller_section.match(/operator/) 
   
    %li
     = link_to users_path, :id=>'users' do
      %span.fui-2-home
      = 'accounts'.titleize
      
    %li
     = link_to legacy_users_path, :id=>'legacy_users' do
      %span.fui-2-users
      = 'users'.titleize        
      
    //li
    //= link_to settings_path, :id=>'settings' do
    // %span.fui-2-wrench
    // = 'settings'.titleize   
     
     
