= simple_form_for(@supplier, :url => suppliers_path, :html => {:class => "operator-form form form-horizontal"}) do |f|

 - form_field = f.text_field :name, :placeholder=> "name".titleize, :class => "form-control", :autofocus => true
 = form_field_for(form_field,'fui-2-doc-text')
 
 - form_field = f.text_field 'server_ip', class: "form-control", :placeholder=> "server_ip".titleize      
 = form_field_for(form_field,'fui-2-doc-text')

 - form_field = f.association :supplier_rate, collection: SupplierRate.all.on, :label => false, wrapper_html: { class: 'form-control' }, :item_wrapper_class => 'inline'
 = form_field_for(form_field,'fui-2-doc-text')

 = form_submit(f) 

