= grid(@suppliers_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"
                                                        

  - g.column name: 'name'.titleize, attribute: 'name' do |supplier|   
    - grid_editable_for(supplier,supplier.name,'name') 

  - g.column name: 'server_ip'.titleize, attribute: 'server_ip', custom_filter: :auto do |supplier|
    - grid_editable_for(supplier,supplier.server_ip,'server_ip')
    
  - g.column name: 'call_limit'.titleize, attribute: 'call_limit' do |supplier|                                                                                                        
    - supplier.call_limit_to_human 
    
  - g.column name: 'supplier_rate'.titleize, attribute: 'tariff_id', custom_filter: SupplierRate.all.on.map{|s| [s.name, s.id]} do |supplier|    
    - @supplier_rate = SupplierRate.find(supplier.tariff_id)
    //- simple_form_for supplier, :html => { class: "grid_inline" } do |f|
    //  - f.association :supplier_rate, collection: SupplierRate.all.on, :class => "", :label => false, :wrapper_html => {:class => "form-control"}   
    - link_to @supplier_rate.name, supplier_rate_path(@supplier_rate)
   
  
  - g.column class: 'col-md-1' do |supplier|
    - grid_button_for('view',supplier,'inverse','fui-2-eye')  
      
  
