= render 'nav_state'

= show_header(@supplier,[{_link:supplier_path(@supplier), _class:'danger', _title:'delete', _icon:'fui-2-trash',_method: :delete}])
 
= simple_tab('details')
  
= simple_tab_content_for('detail_grid') 

