.wrap
 %p     
  %strong Order:    
  = link_to @least_cost_route.order, '#', class: 'editable', data: { name: 'order', container: "body", mode: 'inline', placement: "right", type: 'text', model: 'least_cost_route', url: least_cost_route_path(@least_cost_route), 'original-title' => 'Update Address'}
  %br   
  %strong Failover:  
  - if @least_cost_route.no_failover
   = "N/A"
  - else
   = link_to Supplier.find(@least_cost_route.failover_provider_id).name, supplier_path(Supplier.find(@least_cost_route.failover_provider_id)) 
    
