= grid(@least_cost_routes_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"
  
  - g.column name: 'name'.titleize, attribute: 'name' do |least_cost_route|
    - grid_editable_for(least_cost_route,least_cost_route.name,'name')      
  
  - g.column name: 'order'.titleize, attribute: 'order', custom_filter: {'Percent' => 'percent', 'Priority' => 'priority', 'Price' => 'price'} do |least_cost_route|                                                                                                        
    - least_cost_route.order   
    
  - g.column name: 'failover'.titleize, attribute: 'no_failover', custom_filter: {'No' => 1, 'Yes' => 0} do |least_cost_route|                                                                                                        
    - least_cost_route.failover_to_human 
    
  - g.column name: 'suppliers'.titleize do |least_cost_route|                                                                                                        
    - least_cost_route.suppliers.count.to_s
   
  - g.column name: 'customers'.titleize do |least_cost_route|                                                                                                        
    - least_cost_route.legacy_users.count.to_s
    
  - g.column class: 'col-md-1' do |least_cost_route|
    - grid_button_for('view',least_cost_route,'inverse','fui-2-eye')   
      
  
