- @legacy_users = @least_cost_route.legacy_users  
- unless @legacy_users.blank?

 %table.table.table-bordered.table-striped.sortable.pull-left
  %thead
   %tr       
    %th Name 
    %th Credit
    %th Balance
  %tbody            
                          
   - @legacy_users.each do |legacy_user|              
    %tr
     %td= link_to legacy_user.username, legacy_user_path(legacy_user)                 
     %td= legacy_user.credit_to_human 
     %td= legacy_user.balance 
