- @suppliers = @least_cost_route.suppliers
- unless @suppliers.blank?

 %table.table.table-bordered.table-striped.sortable.pull-left
  %thead
   %tr       
    %th Name 
    %th IP Address
    %th Balance
  %tbody            
                          
   - @suppliers.each do |supplier|              
    %tr
     %td= link_to supplier.name, supplier_path(supplier)                 
     %td= supplier.server_ip 
     %td= supplier.balance
