= render 'nav_state'

= show_header(@least_cost_route,[{_link:least_cost_route_path(@least_cost_route), _class:'danger', _title:'delete', _icon:'fui-2-trash',_method: :delete}])
 
= tabs(['details','suppliers','users']) 

= content_for_tabs(['detail_grid','suppliers','legacy_users'])

