= grid(@bill_codes_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"                                         

  - g.column name: 'bill_code'.titleize, attribute: 'bill_code' do |bill_code|           
    - grid_editable_for(bill_code,bill_code.bill_code,'bill_code')
      
  - g.column name: 'code'.titleize, attribute: 'bill_code_start_from' do |bill_code|                                                                                                        
    - bill_code.bill_code_start_from          
    
  - g.column class: 'col-md-1' do |bill_code|  
    - grid_button_for('delete',bill_code,'danger','fui-2-trash', :options => {:method => :delete}) 
