= render 'nav_state'

%header.collections-header
 %h6.pull-left Create Customer Rate
 %nav.pull-right.actions
  = link_to :back, :class => "btn btn-sm btn-primary" do
   %i.fui-2-left-open
    
%nav.tabs.nav.nav-tabs    
 %ul
  %li.active
   %a(href="#one" data-toggle="tab") General 
   
.tab-content   
 #one.full-width.tab-pane.active
 
  = simple_form_for(@rate, :url => customer_rate_customer_rate_details_path, :method => :post, :html => {:class => "operator-form form form-horizontal"}) do |f|
   %fieldset
    %legend 

    = f.simple_fields_for :rate_detail do |r|
    
     .form-group.inputs
      .col-lg-12       
       .input-group
        %span.input-group-addon
         %i.fui-2-user
        = r.text_field :prefix, :placeholder=> "prefix".titleize, :class => "form-control", :autofocus => true   

    
     .form-group.inputs
      .col-lg-12       
       .input-group
        %span.input-group-addon
         %i.fui-2-user
        = r.text_field :rate, :placeholder=> "rate".titleize, :class => "form-control"   
        

    .form-group
     .col-lg-12        
      = f.submit 'create'.titleize, :class => "btn btn-info pull-right"
   

         
            
