%table.table-heading.table-striped.sortable.table-bordered.table
 %thead
  %tr
   %th Name 
   %th Cut
   %th Add
   %th Minlen
   %th Maxlen
 %tbody
  
  - @location.location_rules.each do |location_rule|
   %tr
    %td= link_to location_rule.name, '#', class: 'editable', data: {mode: 'inline', name: 'name', type: 'text', model: 'location_rule', url: location_rule_path(location_rule), 'original-title' => 'update_location_rule'.titleize}
    %td= link_to location_rule.cut, '#', class: 'editable', data: {mode: 'inline', name: 'cut', type: 'text', model: 'location_rule', url: location_rule_path(location_rule), 'original-title' => 'update_location_rule'.titleize}
    %td= link_to location_rule.add, '#', class: 'editable', data: {mode: 'inline', name: 'add', type: 'text', model: 'location_rule', url: location_rule_path(location_rule), 'original-title' => 'update_location_rule'.titleize}
    %td= link_to location_rule.minlen, '#', class: 'editable', data: {mode: 'inline', name: 'minlen', type: 'text', model: 'location_rule', url: location_rule_path(location_rule), 'original-title' => 'update_location_rule'.titleize}
    %td= link_to location_rule.maxlen, '#', class: 'editable', data: {mode: 'inline', name: 'maxlen', type: 'text', model: 'location_rule', url: location_rule_path(location_rule), 'original-title' => 'update_location_rule'.titleize}
