= grid(@locations_grid, show_filters: :always, hide_submit_button: true) do |g|
                                                                               
  - g.blank_slate :partial => "empty_grid"                                         

  - g.column name: 'name'.titleize, attribute: 'name' do |location|    
    - grid_editable_for(location,location.name,'name') 
    
  - g.column name: 'location_rules'.titleize do |location|                                                                                                        
    - location.location_rules.count.to_s          
      
  - g.column name: 'user'.titleize, attribute: 'username', model: 'LegacyUser', custom_filter: :auto do |location|                                                                                                        
    - link_to location.legacy_user.username, legacy_user_path(location.user_id) 
    
  - g.column class: 'col-md-1' do |location|  
    - grid_button_for('view',location,'inverse','fui-2-eye') 
      
  
