= render 'nav_state'

= show_header(@location,[{_link:new_location_rule_path, _class:'success', _title:'create_location_rule', _icon:'fui-2-plus-1'},
                         {_link:location_path, _class:'danger', _title:'delete', _icon:'fui-2-trash',_method: :delete}])
 
= simple_tab('details')
  
= simple_tab_content_for('detail_grid') 

