!!! 5
%html   
 
 %head
 
  %title= controller.controller_name.titleize 
  %meta(name="viewport" content="width=device-width, initial-scale=1.0")
     
  = stylesheet_link_tag 'flatly-2-admin/dist/styles/flatly-2-admin.min.css'
  = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true 
  
  = yield :head
  = csrf_meta_tag    
  
 %body(class = 'application #{ controller.controller_name }')
  
  .alerts= render 'alerts'
  = yield :alerts

  
  .contents        
   .main-content         
                                         
    .nav-wrapper= render 'nav'
    
    .main   
     .content
      .pages
    
       %header
        %h1= controller.controller_section.titleize 
        %nav.actions.pull-right
         = link_to edit_user_registration_path, :class => "btn btn-info btn-sm btn-labeled", :id => "btn-my-account" do
          %span.btn-label 
           %i.fui-2-home
          My Account
         
       .page
        .sidebar= render 'subnav'
         
        .page-columns
         .page-main= yield    

  .modals= yield :modals
  
  = javascript_include_tag 'flatly-2-admin/dist/scripts/flatly-2-admin.min.js'
  = javascript_include_tag 'admin'
  = yield :javascript 
  
  :javascript 
  
   NProgress.start()
   
   var show_flash = function(msg, type) {   
     $(".alerts").html('<div class="alert alert-'+type+' alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+msg+'</div>');
   };
                      
   $(document).ajaxComplete(function(event, request) {
     var msg = request.getResponseHeader('X-Message');
     var type = request.getResponseHeader('X-Message-Type');                                                                                 
     if (msg) { show_flash(msg, type); }
   });    
  
