!!! 5
%html

 %head 
 
  %title= controller.controller_name.titleize
  %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  
  = stylesheet_link_tag 'flatly-2-admin/dist/styles/flatly-2-login.min.css'  
  = javascript_include_tag 'application', 'data-turbolinks-track' => true   
  = csrf_meta_tag                               
  
 %body(class = 'devise #{ controller.controller_name }')

  .alerts= render 'alerts'   
  .container   
   = yield
   = render 'footer'    
  
  = javascript_include_tag 'flatly-2-admin/dist/scripts/flatly-2-admin.min.js'
  
  = yield :javascript   
